p {
    text-indent: 2em;
}
h2 small {
    color: #CE5C16;
    float: right;
}

h4, h3 {
    text-align: center;
}

ul {
    list-style: none;
}

blockquote {
    font-size: 24px;
    border: none;
}


/* jumbotron CSS */
.jumbotron {
    background-image:url("/img/banner.jpg");
    background-position: center;
    height: 295px;
}

.jumbotron h1 {
    font-family: 'Sniglet', cursive;
    margin-left: 50px;
    color: #002768;
    text-align: center;
}

/* container CSS */
.container {
    color: #FED700;
    font-family: Verdana;
}

.container-fluid h3 {
    font-size: 36px;
    font-weight: bold;
}

/* Carousel and Item related CSS */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: auto;
}
.item h3 {
    color: #FED700;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}
.item p {
    color: #FED700;
    text-align: center;
    font-size: 2.5em;
}
.carousel-indicators {
    padding: 50px;
}

/* Videos CSS */
#video-container {
    position: absolute;
}
#video-container {
    top:0%;
    left:0%;
    height:100%;
    width:100%;
    overflow: hidden;
}
video {
    position:absolute;
    z-index:0;
}
video.fillWidth {
    width: 100%;
}

/* Navbar Page Links CSS */
.navbar-nav li {
    font-size: 12px;
    text-align: center;
    color: #002768;
}
.navbar-default .navbar-nav>.active>a {
    background-color: #CE5C16;
}
.navbar-default .navbar-nav>li>a {
    color: #002768;
}
.navbar-default .navbar-nav>li>a:hover {
    background-color: #CE5C16;
}

.navbar-default {
    background-color: #FED700;
    border: none;
    border-radius: 0px;
    margin-top: 30px;
}

/* Miscellaneous CSS */
#hide {
    background-color: #FED700;
    color: black;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

#otherParks li {
    padding: 20px;
    margin-left: -50px;
    font-weight: bold;
}


.gm-style-iw {
    color: black;
}

.header-unit {
    height: 315px;
    position: relative;
    padding: 20px;
}



/* Media Query, Remove Carousel Indicators for smaller sizes */

@media (max-width: 768px) {
    .carousel-indicators {
        display: none;
    }
}
