<div class="jumbotron">
     <h1>Adam hits the Big 3-0</h1>
</div>
<div class="container">
  {{outlet}}
  <div class="row">
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div>
                  <ul class="nav navbar-nav">
                      <li>{{#link-to 'one'}}Page 1{{/link-to}}</li>
                      <li>{{#link-to 'two'}}Page 2{{/link-to}}</li>
                      <li>{{#link-to 'three'}}Page 3{{/link-to}}</li>
                      <li>{{#link-to 'four'}}Page 4{{/link-to}}</li>
                      <li>{{#link-to 'five'}}Page 5{{/link-to}}</li>
                      <li>{{#link-to 'six'}}Page 6{{/link-to}}</li>
                      <li>{{#link-to 'seven'}}Page 7{{/link-to}}</li>
                      <li>{{#link-to 'eight'}}Page 8{{/link-to}}</li>
                      <li>{{#link-to 'nine'}}Page 9{{/link-to}}</li>
                      <li>{{#link-to 'ten'}}Page 10{{/link-to}}</li>
                      <li>{{#link-to 'eleven'}}Page 11{{/link-to}}</li>
                      <li>{{#link-to 'twelve'}}Page 12{{/link-to}}</li>
                      <li>{{#link-to 'thirteen'}}Page 13{{/link-to}}</li>
                      <li>{{#link-to 'fourteen'}}Page 14{{/link-to}}</li>
                      <li>{{#link-to 'fifteen'}}Page 15{{/link-to}}</li>
                  </ul>
              </div>
          </div>
      </nav>
  </div>
  <script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3&callback=initialize"></script>
</div>
