{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h3>Grand Canyon History</h3>
        <p>The first European to see the Grand Canyon was Garcia Lopez de Cardenas, a Spainard who saw the Grand Canyon in 1540.</p>
        <p>Native American tribes in the region, including the Hopi, Pueblo, Anasazi, Hualapai, Havasapai, and Navajo, have considered the Grand Canyon to be a holy and special places. For thousands of years, these tribes would live within the
            canyon, living in caves.</p>
        <p>United States President Theodore Roosevelt, an avid outdoorsman, visited the Grand Canyon in 1903 and helped turn the Grand Canyon into a National Park to protect the land he considered a treasure.</p>
        <div class="col-lg-8">
            <blockquote>The Grand Canyon fills me with awe. It is beyond comparison—beyond description; absolutely unparalleled through-out the wide world... Let this great wonder of nature remain as it now is. Do nothing to mar its grandeur, sublimity
                and loveliness. You cannot improve on it. But what you can do is to keep it for your children, your children's children, and all who come after you, as the one great sight which every American should see.
                <footer>Theodore Roosevelt, visiting the Grand Canyon in 1903</footer>
            </blockquote>
        </div>
        <p>About 600 deaths have occurred in the Grand Canyon since 1870. Suicides, accidents, murder, you name it. It's all happened at the Grand Canyon.</p>
        <p>In 1956, two airplanes flying over the Grand Canyon, departing minutes of each other, collided midair, killing everyone on both planes. Since then, flying over the Grand Canyon has been more controlled and stricter, if allowed at all
            (which is rare)</p>
        <p>Grand Canyon National Park is the 15th oldest National Park in the United States, earning the distinction in 1919</p>
        <p>Attempts to make the Grand Canyon a National Park began in 1882 by President Benjamin Harrison, but did not come to pass until 1919</p>
        <p>On May 10, 2015, exactly 30 years after he was born, Adam Bodie made his first trip to the Grand Canyon with his parents and sister Jenn</p>
         <h3>Adam says "Excuse me!"</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/adam_excuse_me.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/adam_excuse_me.webm" type='video/webm'>
                        <source src="videos/adam_excuse_me.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>And Jenn responds</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_excuse_me.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_excuse_me.webm" type='video/webm'>
                        <source src="videos/jenn_excuse_me.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>Hualapai</h3>
        <p>One tribal Nation associated with the Grand Canyon is the Hualapai (also known as Walapai). Their name translates in their native language as "People of Tall Trees", named after the Ponderosa Pines in the area. They primarily live
            on a 100 mile stretch along the South Rim of the Grand Canyon, mainly along the Western side of the Grand Canyon.</p>
        <p>The Hualapai Indian Reservation was created in Arizona in 1883 by President Chester A Arthur. As of 2010, a little over 1,000 members of the tribe exists.</p>
        <p>The Hualapai Tribe are the owners of the Grand Canyon Skywalk, a horseshoe shaped platform which visitors can walk on glass and look down at the Grand Canyon.</p>

    </div>
    <div class="col-lg-6">
         <h2>Exploring the Grand Canyon on our own</h2>
         <h2><small>by Adam Bodie</small></h2>
        <br>
        <br>
        <p>After two stops, the bus tour was over (that's it?) and it was time to eat lunch. We ended up at the Arizona Room at the Bright Angel Lodge, with views of the Grand Canyon visible and easy walking access near the Grand Canyon. Even
            though Jenn's meal didn't turn out right (even after multiple attempts), it was a much-needed meal to have, with plenty of water to hydrate ourselves. Why did we not bring any water bottles in the Grand Canyon? Perhaps the biggest
            mystery of the trip.</p>
        <p>After lunch, it was time to explore Grand Canyon Village before our rooms at the Maswik Lodge were ready for us. There were a plethora of view points to see the Grand Canyon from Bright Angel, all showing a different part of the Grand
            Canyon. Amazing how many twists and turns there are. One thing that intrigued me was the Bright Angel Trail, which went into the Canyon and had a tunnel in its path. Of course, today was not the day to go down there. And seeing
            the Kolb House sitting on the edge of the trail, looking out at the Grand Canyon, how can that even be?</p>
        <div class='col-lg-6'>
            <blockquote>I'm a Chipmunk Typewriter!
                <footer>Jenn, making one of her many weird noises</footer>
            </blockquote>
        </div>
        <p>Of course, as the afternoon strolled along, fatigue started to hit and it was time to get our belongings off our backs and into our hotel rooms. After all, as Debbi repeatedly would say "My shoulder's hurt." We were able to get access
            to one of our rooms before the 4:00 check-in time. Strolling down to the Mesquite house of the Maswik Lodge, it felt like walking back in time to a modern looking cabin. Inside our room, we were amazed by how few plug-ins actually
            worked (I counted 2). Not fun in the 21st Century where everyone is used to using their iPhones and iPads with limited battery power.</p>
        <div class='col-lg-6'>
            <blockquote>Let's check the plugins
                <footer>Adam, after the other room at the Maswik Lodge opened up</footer>
            </blockquote>
        </div>
        <p>Naturally, when the other room became available, Adam's first comment was "Let's check the plugins." Having an place to charge your phone is important, especially if your battery is shot. When Dad told us "It's 56." Jenn and Mom asked
            "The temperature?" But Dad wasn't talking about the temperature, "No, the charge." Impressive considering it started at 12%. That's the price you pay for having a bad battery. It loses its charge really quickly, then you can't
            use it as much without wondering "Is my phone going to die?" And if that were the case, you'd be stuck if you really needed it in an emergency. Thank god for plug-ins, so Dad's phone could get to 56%!</p>
        <div class='col-lg-6'>
            <blockquote>Don't go through the back door unless you want to get spanked by the bus
                <footer>Blue Shuttle Bus Driver</footer>
            </blockquote>
        </div>
        <p>Now it was time to figure out Adam's Birthday Dinner. Our original plan of eating at El Tovar was cancelled by Mom due to not wanting to eat a few hours after lunch, but with limited options, the bickering began. El Tovar Lounge, Bright
            Angel, Pizza Pub, El Tovar Lounge, Bright Angel, El Tovar, Bright Angel. Should we go to the lounge at El Tovar. How about Bright Angel. El Tovar. Bright Angel. The bickering went on for a while. After Jenn was done crashing, we
            made our back to the main lodge to catch the bus to El Tovar. Or was it Bright Angel. After missing 4 buses due to Mom having to go back to get her iPhone, realizing her key didn't work, having Dad go back and it still didn't work,
            but was able to get access through the other room to get the phone, and then more complaining about the key not working, we finally made it on the blue bus, unfortunately that took us longer as we needed to loop around to get to
            El Tovar, or was it Bright Angel.</p>
         <h3>Getting Steps the Easy Way</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Jenn Exercising.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Jenn Exercising.webm" type='video/webm'>
                        <source src="videos/Jenn Exercising.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>Havasupai</h3>
        <p>The Havasupai tribe, (not to be mistaken with the Hualapai tribe), is another tribe in Arizona that lives in the Grand Canyon, to the West of Grand Canyon Village (but not as far west as the Hualapai), living in an area the size of
            Delaware. The capital of the tribe, Supai, is notable as the only place in the United States where mail is delivered by Mules. Their name translates to "Blue-Green water people".</p>
        <p>Like many tribes, the Havasupai Indian Reservation was created by President Chester A Arthur. They lived in the land that became Grand Canyon National Park until they were forced out in 1928 after the National Park was created.</p>
        <p>As of 2010, 650 people live in the Havasupai Reservation, living in one of the most remote towns in the United States, Supai. The nearest road to the town is 8 miles away and requires either air travel or mule ride into town (no cars
            are in the community).</p>

    </div>
</div>
<div class="row">
     <h3>The Rim Trail</h3>
    <div id="googleMap" style="width:100%;height:500px;"></div>
</div>
<div class="row">
     <h3>Rim Trail</h3>
    <img class="img-responsive" src="img/rim10.jpg" alt="Rim Trail">
     <h4>From one end to another (at least in this chunk)</h4>
</div>
<div class="row">
     <h3>Rim Trail</h3>
    <img class="img-responsive" src="img/rim12.jpg" alt="Rim Trail">
     <h4>To the Left is Lookout Point.  Sadly, it was under construction</h4>
</div>
<div class="row">
     <h3>Rim Trail</h3>
    <img class="img-responsive" src="img/rim15.jpg" alt="Rim Trail">
     <h4>Looking down at Lookout Point</h4>
</div>
<div class="row">
     <h3>Rim Trail</h3>
    <img class="img-responsive" src="img/rim18.jpg" alt="Rim Trail">
     <h4>From Hermit's Rest Road to El Tovar</h4>
</div>
<div class="row">
     <h3>Rim Trail</h3>
    <img class="img-responsive" src="img/rim24.jpg" alt="Rim Trail">
     <h4>All I can say at Kolb Studio is...Stunning!</h4>
</div>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3&callback=initialize"></script>
<script src="js/grand_canyon_rim.js"></script>
