{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h2>How I Finally Got The Balls To Deal With the Brat of all Brats and The Ensuing Trip the the East-Side of Grand Canyon Village</h2>
         <h2><small>by A 30 Year Old Who Don't Take No Crap</small></h2>
        <br>
        <br>
        <p>After returning back to our rooms at Mesquite, it was time to get ready to resume our day. With a few hours to spare before boarding the train, and limited transportation around the Grand Canyon, we needed a plan. But first, Mom had
            to make sure her Dad was okay, being in the hospital for the past few days for a staph infection in the elbow. She couldn't talk to her Dad, so instead she had to talk to her two bratty little brothers.</p>
        <p>Of course, there are two things that will never ever change:</p>
        <ol>
            <li>Steve Sherman being obsessed with USC.</li>
            <li>Steve Sherman never saying anything nice to me and only making jokes about the Oregon Ducks.</li>
        </ol>
        <p>This time though, I wasn't going to take it. Enough was enough. If he wants to be jealous because Oregon has a better football team than USC does now, that's fine, but he needs to accept the fact that his school is nothing more than
            mediocre football team whose only accomplishments were tainted by cheating. So here's what Adam told him through text</p>
        <p>"It's better to have reached the title game and lose than to win the game and give it up for breaking the rules. USC should be more worried about even making the big game cuz they've in the middle of the pack for years. Don't mess
            with AB, and I'm out!"</p>
        <p>Steve had nothing intelligent to respond to (after all, if you go out of way to criticize someone for no reason without saying anything nice at all, then don't complain when you get it handed back at you). Safe to say, Adam finally
            got his revenge.</p>
        <p>Of course, I could spend all the time in the world pointing out everything wrong with that crappy football team, but instead, I'm going to be nice and point out some of their best accomplishments:</p>
        <ol>
            <li>USC is the first school in NCAA history to have a Heisman Trophy winner have to return the trophy for violating NCAA rules.</li>
            <li>USC is the only team to ever have to forfeit a National Championship in 2004.</li>
            <li>USC is the first team ranked #1 in the Preseason to finish the year 7-6</li>
            <li>Lost the 2011 Sun Bowl to a Georgia Tech team that needed a waiver just to play in the game due to having a sub-500 record.</li>
            <li>USC is the first (and only) team to lose a game it was favored to win by 42 points, against a Stanford team that was starting its backup Quarterback.</li>
            <li>USC's most famous football player of all time is most famous for being on trial for the murder of his wife.</li>
            <li>USC is the only team considered to be the best of all time to lose the National Championship Game.</li>
            <li>USC is the only team to lose the National Championship Game while starring an ineligible player.</li>
            <li>USC has won the Jeweled Shillelagh 35 times over Notre Dame.</li>
            <li>USC is one of three Pac-12 teams to lose to Marcus Mariota only one time.</li>
            <li>USC hired Lane Kiffin as its coach and kept him for 3 1/2 years.</li>
        </ol>
        <div class='col-lg-6'>
            <blockquote>I need a good lathering
                <footer>Adam getting sunscreen on his neck and face</footer>
            </blockquote>
        </div>
        <p>With that satisfaction out of the way, the Bodie's went to breakfast at the Maswik Lodge, and then made their way to Grand Canyon Visitor Center. Located on the east side of Grand Canyon Village (but nowhere near the eastern edge of
            the Grand Canyon), we had the time and with the bus shuttle the way it was, it was easier to go east then go west. The Grand Canyon Visitor Center brought a different side of the Grand Canyon, with Mom needing to rest because of
            her shoulder hurting, I made my way walking to Mather Point, another place to view the Grand Canyon (one of hundreds). This area was also home of the Mather Amphitheatre, which reminded me of Red Rocks in Denver, but not nearly
            as big. As I strolled along the path, heading to Yavapai Point, knowing I had a time limit of 1:00 to return to the Visitor Center where the family hung out. Though I was impressed with the Grand Canyon, by body was starting to
            wear and tear a little (not because I'm 30, this would have happened if I was 29, like I was the week before) and I needed to rest some more. The train ride back to Williams was much needed.</p>

    </div>
    <div class="col-lg-6">
         <h2>Things that Annoy Me (The Grand Canyon Edition)</h2>
         <h2><small>by Adam Bodie</small></h2>
        <br>
        <br>
        <p>Imagine being on a trip of a lifetime at a popular National Park. Naturally, there are going to be a lot of people visiting, just like you. Many of them wind up in your pictures. No matter how hard you try, someone enters your picture
            (just as someone else leaves). Often times, you walk into someone else's picture. You try your best to wait, or to walk fast to avoid ruining that other person's moment. But what happens when you're walking and someone is blocking
            your path? Do you wait? Do you walk fast? Enter the Selfie Stick...</p>
        <p>Everyone loves to take selfies. It's easy, convenient and requires no stranger to get that special moment on camera for you. But it can only go the length of the longest arm you have. Enter the Selfie Stick, which can take selfies
            at a longer distance, to capture more stuff in the background. But what looks cool for the consumer is an eyesore for the passerby.</p>
        <p>No longer can a person walk between the camera and the object of affection. Instead, there's a goofy looking stick covering that space. You'd have to walk around a longer distance to get around the picture. And what if someone decided
            the moment you walk by that they want to use it? They'd have to swing it to set it up, making sure they don't hit you in the face. Some people, though, arent that careful. Bam! Now you got hit in the face with a stick. A great
            way to end your trip, with marks on your face from Selfie Sticks.</p>
        <p>Now I know what you're saying; Selfies are not going away, it's the 21st Century, yada yada yada. We guess what, there's a better solution then having some dorky looking stick take up so much space for the passerby. Have your loved
            one take a picture for you. Ask a stranger. Take a selfie without the stick. How much extra space do you really get in your photo? Chances are, you're not a good photographer to begin with. The picture is a little blurry because
            you can't stay still. Your finger winds up in the picture. You cut your head off like Hannibal Lecter. So please, leave the Selfie Stick at home and be thankful you can even have the technology to take a picture</p>
        <br>
         <h2>Yavapai</h2>
        <p>The Yavapai is a Native American tribe in the region. Their name translates to "People of the Sun."</p>
        <p>There are four bands of Yavapai, the Western Yavapai, the Northwestern Yavapai, the Southeastern Yavapai and Northeastern Yavapai.</p>
        <p>There are multiple reservations for the Yavapai Tribe, including the Yavapai-Apache Nation Indian Reservation, the Yavapai Prescott Indian Reservation and Fort McDowell Reservation, all in Arizona.</p>
        <p>The Yavapai were often mistaken for the neighboring Apache tribe.</p>
         <h3>Grand Canyon Village Visitor Center</h3>
        <img class="img-responsive" src="img/map5.png" alt="Grand Canyon Map" width="100%" height="500">
    </div>
</div>
<div class="row">
     <h3>Mather Point</h3>
    <img class="img-responsive" src="img/mather2.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>Another great place for Panoramas (haven't I said this before though?)</h4>
</div>
<div class="row">
     <h3>Mather Point</h3>
    <img class="img-responsive" src="img/mather9.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>Look at those rocks and all the holes.</h4>
</div>
<div class="row">
     <h3>Mather Point</h3>
    <img class="img-responsive" src="img/mather11.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>New perspective on the Grand Canyon</h4>
</div>
<div class="row">
     <h3>Mather Point</h3>
    <img class="img-responsive" src="img/mather15.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>Really great to see.  Haven't I said this before?</h4>
</div>
<div class="row">
     <h3>Yavapai Point</h3>
    <img class="img-responsive" src="img/yavapai1.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>Yavapai, Yayyayyay!</h4>
</div>
<div class="row">
     <h3>Yavapai Point</h3>
    <img class="img-responsive" src="img/yavapai5.jpg" alt="Grand Canyon" width="1200" height="544">
     <h4>The Last New Thing I'll see at the Grand Canyon</h4>
</div>
