{{carousel-list items=model}}
<div class="row">
     <h1 style='text-align:center; font-weight: bold'>Wrapping things up:</h1>
     <h3>So what was everyone's highlight from the trip?  Here are the answers:</h3>
     <h3>Mom's highlight - Dinner at El Tovar and seeing her kids happy</h3>
     <h3>Dad's highlight - The first time seeing the Grand Canyon going ooooh and aaaaaah</h3>
     <h3>Jenn's highlight - Getting cat called and cheered on for dancing</h3>
     <h3>Adam's highlight- Seeing the Grand Canyon and being able to express himself freely and confidently</h3>

</div>
