{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h2>Williams, Arizona, the town Adam woke up as a 30 year old</h2>
        <p>At 4:42AM on May 10, 1985, Adam Matthew Bodie was born in Portland, Oregon at 8 lbs, 3 oz. He was a handsome little devil. His parents were really proud. Named after his great-Grandpa Papa Arthur, Adam was destined to be special. Exactly 30 years after he was born, Adam woke up at in Williams, Arizona, realizing he reached the goal at the exact time</p>
        <p>After Adam woke up, took a shower and got dressed, he went for a little walk outside the Hotel, to find the sign entering the town. Fortunately, it was just a few blocks away. Adam was happy that the weather was sunny, though it was still cold, he knew it would warm up, so he took shorts and a sweatshirt to compensate.</p>
        <p>After returning from a stroll in the town of Williams, Adam got his first birthday wish from his Dad, who was amazed he wrote the number 30 on the bathroom mirror. Afterwards, Adam saw his Mom and sister, and then he received his first gift, a customized t-shirt declaring how awesome Adam is at 30. Adam was amazed and surprised. He didn't see it coming. It was so cool looking. Then Adam got his gift from his Dad, an Oregon Duck hat with hair like the one Dad had gotten. Adam couldn't stop laughing at how he looked with spiked hair and a hat. He couldn't stop taking pictures. It was hilarious.</p>
        <div class="col-lg-6">
            <blockquote>Happy Mother's Day and Happy Birthday to your son
                <footer>Jenn</footer>
            </blockquote>
        </div>
        <p>Needing to get to the Train before 9:30, Adam had his first meal as a 30 year old, an Omelet, potatoes, bacon and sausage. Later, Adam made his way to the Wild West Show, with the World's Worst Bank Robbers arguing over playing cards and stealing purses. It was a hoot. A nice way to begin the entertainment I guess. Afterwards, the Bodie family made their way to the Fred Harvey car of the Train, where they were delighted to seats on the dome, freedom to walk around, and knowing that Adam was special, at least on this particular day.</p>
        <img class="img-responsive" src="img/gun.jpg" alt="gun" width="500px">
    </div>
    <div class="col-lg-6">
         <h2>Some Interesting Facts I learned about Williams and Coconino County</h2>
        <ul>
            <li>Coconino County, which Williams is in, is the second largest county in size in the United States (after San Bernandino County, California)</li>
            <li>Coconino County is larger in size than nine US States, including Maryland</li>
            <li>Four Native American Tribes live in the area: The Havasupai, Navajo, Hualapai, and Hopi Nations.</li>
            <li>The area is home of the Kaibab National Forest, which covers three Arizona counties in Northwest Arizona.</li>
            <li>The townspeople love to wave at the trains. Apparently, the Prairie Dogs do too.</li>
            <li>There were exactly 6 towns we saw or drove by in Northern Arizona:
                <ul>
                    <li>Flagstaff</li>
                    <li>Bellemont</li>
                    <li>Parks</li>
                    <li>Williams</li>
                    <li>Valle</li>
                    <li>Grand Canyon Village</li>
                </ul>
            </li>
            <li>The largest continuous Ponderosa Pine Forest is located in Coconino County.</li>
            <li>The Havasupai name for Williams is: <strong>Wii Gvʼul</strong></li>
            <li>The Havasupai name for Flagstaff is: <strong>Wii Hagnbaj</strong></li>
            <li>The Navajo name for Flagstaff is: <strong>Kinłání Dookʼoʼoosłííd Biyaagi</strong>. Try saying that one 5 times fast.</li>
        </ul>
         <h2>Scenes from the Wild Williams West</h2>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Wild West 1.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Wild West 1.webm" type='video/webm'>
                        <source src="videos/Wild West 1.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Wild West 2.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Wild West 2.webm" type='video/webm'>
                        <source src="videos/Wild West 2.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
</div>
<div class='row'>
    <script>
        $(document).ready(function() {
            $("#move").click(function() {
                $("#train").animate({
                        left: '+=100px'
                    });
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#reverse").click(function() {
                $("#train").animate({
                        left: '-=100px'
                    });
            });
        });
    </script>
    <img class="img-responsive" src="img/train-clipart.gif" alt="clipart" id="train" style="position:relative" width="150px" height="140px">
    <br>
    <button id="move" type="button" class="btn btn-warning btn-block" style="color: black; font-size: 24px;">Choo choo choo</button>
    <button id="reverse" type="button" class="btn btn-danger btn-block" style="color: black; font-size: 24px;">Go back</button>
</div>
<div class='row'>
     <h3 style="text-align: center">A panorama of Williams</h3>
    <img class="img-responsive" src="img/williams2.jpg" alt="Williams Panorama" width="1200" height="485">
     <h4>Not much to the front of this town.  Just a McDonald's (not pictured, Taco Bell/KFC)</h4>
</div>
