{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h3>Jenn's Dancing at the Flagstaff Airport</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_airport.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_airport.webm" type='video/webm'>
                        <source src="videos/jenn_airport.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>The Grand Canyon</h3>
        <div class="center-block" id="googleMap" style="width:100%;height:500px;"></div>
    </div>
    <div class="col-lg-6">
         <h3>May 12th: The Final Day in Arizona</h3>
        <p>The final morning it was the day to go back home. We had our last meal at the buffet, and then we were ready to pack up our bags to make our way back home. Of course, we had some extra time, and with an actual car to explore, drove
            into the town of Williams and headed towards the Santa Fe Reservoir, just outside of town. But we had nowhere to park so we kept driving. Seven miles away was Dogtown Lake. We had no idea what we were in for, but we kept driving
            and made our way to the lake, with a gravel road for the majority of the route. Finally we made it to the lake and were pleased to see water. Actual water. We walked around a little and headed back to Williams. The car was full
            of dirt. Ugh.</p>
        <div class="col-lg-6">
            <blockquote>Dad's satisfried and Mom's sassified!
            </blockquote>
        </div>
        <p>We went to the main part of Williams and walked around. A nice charming little town with places to eat (probably for the tourists) and live music at some of the restaurants. One place that really caught our eye was a 60's styled cafe
            called Cruisers. After walking around town, seeing the Route 66 History, we decided it was best to eat lunch before we started flying. We ended up eating at Cruisers, and enjoyed walking in the little shop attached with retro 60s
            stuff, signs and crazy souvenirs.</p>
        <div class="col-lg-6">
            <blockquote>Moisture!
                <footer>The best part of returning home according to Jenn</footer>
            </blockquote>
        </div>
        <p>It was about 1:00, and we needed to go back to Flagstaff to make our way back home. Though there are many places in the area I would have loved to see, we didn't have the time to do so. Mona from Sedona, anyone? Another short flight
            to Phoenix and then we were one step closer back to Portland. Thankfully we didn't stay in Phoenix, it was 90 degrees outside. Hot! If you're ever in the Phoenix Airport, be sure to know that Tacos & Tequila doesn't have any Tacos.
            Misleading name, don't you think. Finally, we flew into Portland after a couple of hours. It was great to be back home. As Jenn put it best, she missed the Moisture the most.</p>
         <h3>The Booger Picker Strikes Again!</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_video10.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_video10.webm" type='video/webm'>
                        <source src="videos/jenn_video10.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">
         <h3>Dogtown Lake</h3>
        <img class="img-responsive" src="img/dogtown3.jpg" alt="dogtown3">
         <h4>What kind of a name is Dogtown anyhow? I didn't see any dogs here</h4>
    </div>
    <div class="row">
         <h3>Dogtown Lake</h3>
        <img class="img-responsive" src="img/dogtown5.jpg" alt="dogtown5">
         <h4>Reminds me of the lakes in Central Oregon, but not as big</h4>
    </div>
    <div class="row">
         <h3>Dogtown Lake</h3>
        <img class="img-responsive" src="img/dogtown9.jpg" alt="dogtown9">
         <h4>Now it was time to head back home</h4>
    </div>
</div>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3&callback=initialize"></script>
<script src="js/final.js"></script>
