{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h2>Williams, Arizona, an Introduction</h2>
        <p>Williams, Arizona, located in Coconino County, Arizona, is a small town with a population of about 3,000 people.</p>
        <p>Its claim to fame is that it sits along the route of Historic Route 66, and serves as the southern terminus of the Grand Canyon Railway.</p>
        <p>Williams is the last town to have Historic Route 66 bypassed, as lawsuits prevented the completion of its replacement: Interstate 40</p>
        <p>Williams is named after a mountain man, William "Old Bill" Williams.</p>
        <img class="img-responsive" src="img/map2.png" alt="Grand Canyon Map" width="100%" height="400">
        <h2>Route 66: The Icon</h2>
        <p>When people talk about famous roads in the United States, one of the first that gets mentioned is Route 66. It's not an official road any more; it was decommissioned in 1985 by the U.S. Highway System. But yet people love to talk about it. What's the galore? Let's explore the facts:</p>
        <p>Route 66 was a popular highway in the old days that traveled from Chicago to Los Angeles, making its route through the Southwest.</p>
        <p>It was so famous that it not only had a song named after it, but also a TV series from the 1960's named after it as well.</p>
        <p>Route 66 was popular for those moving out West during the Dust Bowl in the 1930s.</p>
        <p>Eventually, the Interstate Highway System was born, which led to the decline of Route 66. In 1985, Route 66 was officially decommissioned as a Highway</p>
        <p>Despite this, parts of the Historic Route 66 are still around, as part of the National Scenic Byway system, known for their historic folklore.</p>

    </div>
    <div class="col-lg-6">
         <h2>Williams, Arizona: Bodie Style</h2>
        <p>So the Bodie's made it to Williams, Arizona. The ride was easy enough, 75 miles per hour speed limit, hardly anybody on the road. The weather was cold and they only had country music on the radio, but on the bright side, <strong>Jenn finally admitted Adam was going to turn 30, at 4:38PM on May 9th.</strong> The Grand Canyon Railway Hotel was nice, had the Arizona look and was easy to get to (except for the Construction outside). As Jenn put it, "It's brown like that state."</p>
        <p>But with all the Trains, Planes and Automobiles we saw through the day, we thought there would be more taxis. But as Steve observed, "They don't have taxis, they have horse." Horses, the preferred transportation of the late 19th century before the car was invented. That's right, horses.</p>
        <div class="col-lg-6">
            <blockquote>It's brown like the state
                <footer>Jenn when asked about the hotel</footer>
            </blockquote>
        </div>

        <p>The first stop after checking into the hotel was Spenser's Bar for Happy Hour. A perfect place to end the Roaring 20s for Adam, with Martini in hand, it was just what the doctor ordered after traveling most of the day. And for those keeping score, a true Martini has Gin, not Vodka. Of course, Debbi and Steve briefly went missing, but Jenn kept them in line by sending a test text message. Debbi, surprised by this, told Jenn "You bammed me when I was peeing."  All is restored, for the moment.</p>
        <div class="col-lg-6">
            <img src="img/flush ad.jpg" alt="flush ad" width="204" height="272">
        </div>
        <div class="col-lg-6">
            <blockquote>They don't have taxis (in Williams), they have horses
                <footer>Dad</footer>
            </blockquote>
        </div>
        <p>Afterwards, the Bodie's strolled to the Grand Depot Cafe with its buffet styled food. With all that food there, it's no wonder Debbi couldn't keep track of the Birthday Boy. "Where's Adam?" she asked. "I'm right here," Adam replied, standing immediately to her right as Debbi turned around and noticed Adam was so close to her. We arrived at the Grand Depot Cafe, using the first of many tickets in our possession.</p>
        <div class="col-lg-6">
            <blockquote>You bammed me when I was peeing
                <footer>Mom getting a test text message from Jenn</footer>
            </blockquote>
        </div>
        <p>And if that wasn't bad enough, the food was so mediocre that it led to looking for inspiration elsewhere. As Debbi asked the family "What are we gonna do now?" Jenn chimed in "Scratch our butts!" Steve, not wanting to scratch his butt, told Jenn "I'll let you go first." Later, Steve added "Let's go outside and fart!" That led Debbi to remark "Oopsie Poopsie!" causing complete laughter. Oopsie Poopsie, it seems, is a quote often said by Debbi's boyfriend, Earl. Twelve Year Old Boy Humor at its finest.</p>
        <div class="col-lg-6">
            <blockquote>Bobbi, Sheri & Barry
                <footer>The three people I received birthday cards from before arriving to Arizona</footer>
            </blockquote>
        </div>
        <p>The first day in Arizona was a raging success, despite the chilly cold weather. It was destined to get better. After all, it's Arizona. It don't stay cold for long. Adam's 30th birthday was almost there, with birthday cards from Bobbi, Sheri and Barry (the insurance guy) in hand, Adam was ready to celebrate his 30th Birthday in style.</p>
    </div>
</div>
