<div class="row">
    <div class="col-lg-6">
         <h2>Grand Canyon: The Birthday Dinner</h2>
         <h2><small>by Adam Bodie</small></h2>
        <br>
        <br>
        <p>Eventually, we made it to El Tovar (and not Bright Angel) and had our dinner in the Lounge. It was the perfect setting, eating outside while the sun was setting, great food and plenty of opportunity for Adam to take pictures of the
            sun setting over the Grand Canyon. It was great! Duck Sliders, Shrimp Cocktails, Garlic Fries, Cheeses and Veggie Chili, oh and a Manhattan for Adam. Later came dessert, a Birthday Chocolate Taco and some warmed Grand Marnier.
            Jenn was more interested in the warming glasses, or as Debbi called her, a Double-Fisted Water Drinker. A perfect way to celebrate a birthday dinner, once the sun started to set, it became even more perfect. I also found out about
            my birthday gift, a new Apple Watch that won't arrive until June (backorder).</p>
        <div class="col-lg-6">
            <blockquote>Two fisted water drinker
                <footer>Mom describing Jenn holding 2 warming glasses</footer>
            </blockquote>
        </div>
        <p>What wasn't perfect was the commute back to the Lodge. By the time we were done with dinner, we walked down the 47 steps of El Tovar and waited for a bus, and waited, and waited. Debbi and Jenn got impatient, as they are unfamiliar
            with the wacky world of public transit. Thanks to the boredom of waiting and the darkness that crept in, Jenn resorted to dancing and getting cat-called, while repeating the same Golden Girls joke. A joke about linguini and taking
            off your t-shirt. Okay?</p>
        <div class="col-lg-6">
            <blockquote>2 Penises and a Pod
                <footer>Something Jenn heard on the TV</footer>
            </blockquote>
        </div>
        <p>Finally, the bus showed up 17 minutes later. Of course, what started out as a bus with only a few people, turned into a big time cramming at the Red Transfer stop, with about 50 people cramming the bus coming back from the Sunset Tour.
            It turned into a Party, especially when the lights turned off. Oooooooooh! Fortunately, Maswik was the next stop and we forced our way off the bus. And with that, combined with an extensive lecture from Jenn on liboflavanoids,
            ending what could be the Greatest Birthday of All Time!</p>
         <h3>Jenn likes Linguini</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_linguini.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_linguini.webm" type='video/webm'>
                        <source src="videos/jenn_linguini.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
         <h3>Jenn's licking water out of the Warming Glasses</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_water.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_water.webm" type='video/webm'>
                        <source src="videos/jenn_water.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>Adam's Dancing</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Adam Dancing.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Adam Dancing.webm" type='video/webm'>
                        <source src="videos/Adam Dancing.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>Jenn's singing to Neal's Cruise Song.</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_singing.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_singing.webm" type='video/webm'>
                        <source src="videos/jenn_singing.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
        <br>
    </div>
    <div class="row">
         <h3>Sunset</h3>
        <img class="img-responsive" src="img/gcsunset2.jpg" alt="sunset">
         <h4>The Grand Canyon looks even better when the sun's setting</h4>
    </div>
    <div class="row">
         <h3>Sunset</h3>
        <img class="img-responsive" src="img/gcsunset6.jpg" alt="sunset">
         <h4>I-N-Credible</h4>
    </div>
    <div class="row">
         <h3>Sunset</h3>
        <img class="img-responsive" src="img/gcsunset8.jpg" alt="sunset">
         <h4>Yes Dad, those are three dots.  The Camera plays tricks on you...</h4>
    </div>
    <div class="row">
         <h3>Sunset</h3>
        <img class="img-responsive" src="img/gcsunset12.jpg" alt="sunset">
         <h4>A perfect way to end the evening, ooh look, One Dot!</h4>
    </div>
    <div class="row">
         <h3>Sunset</h3>
        <img class="img-responsive" src="img/gcsunset16.jpg" alt="sunset">
         <h4>And There Goes The Sun</h4>
    </div>
</div>
