<div class="row">
    <div class="col-lg-4" id="intro">
         <h2>Introduction</h2>
         <h2><small>by Adam Bodie</small></h2>
        <br>
        <br>

        
        <p>They say you only turn 30 once. This is very true, and you have to do something special to celebrate it. For me, this entailed going to the Grand Canyon, one of the most beautiful places in the United States. How did I decide on going
            to the Grand Canyon? Let's review the decision process.</p>
        <p>As you may or may not know, my first idea to celebrate my 30th birthday was to go to Los Angeles, where I've never had a birthday, while Jenn had her 8th birthday with the family down there. As time went on, I realized it was difficult
            to make things right there. At that point, I thought it was time to look somewhere else. Years ago, I created a list of 100 places I would like to see in my lifetime. To this date, I've seen 11 places on my list.</p>
        <div class="col-lg-7" style="float: right">
            <blockquote class="blockquote-reverse" style="font-size:24px; border: none">Jenn had her 8th birthday with the family down there (Los Angeles) but I never did.
                <footer>Adam Bodie</footer>
            </blockquote>
        </div>
        <p>Within my list, I had the places I would absolutely kill to see, and others that could wait down the road. After reviewing the list, I came down to two finalists. The Grand Canyon was one, the other one was Yosemite National Park.</p>
        <p>What made me choose Grand Canyon over Yosemite? For starters, Grand Canyon is considered to be an experience of a lifetime, one that a special birthday deserves. Yosemite National Park is another amazing place, with beautiful waterfalls,
            mountains, streams and granite cliffs. But a canyon as big as the Grand Canyon is unique, majestic and something I've never seen before. So with that in mind, my choice was the Grand Canyon.</p>
    </div>
    <div class="col-lg-4">
         <h2>What's in a name?</h2>
        <p>The Grand Canyon is a magnificent place, not only to the millions of tourists who visit every year, but to the Native Americans who live in the area. As you might expect, Native Americans have their own name for the Grand Canyon, mainly
            the Hopi and Yavapai tribes. Click on the button to see their names.</p>
        <br>
        <br>
        {{language-list items=model}}
         <h2 style="text-align: center"><strong>Where is the Grand Canyon?</strong></h2>
        <div id="googleMap" style="width:100%;height:500px;"></div>
    </div>
    <div class="col-lg-4">
         <h2>Isn't Age just a number?</h2>
        <p>Yes, I'm 30 years old. So what, it's just a number to tell us how long we've lived on the planet Earth. There shouldn't be a stigma associated with being 30. Sure, you start to slow down just a tad, but you also become wiser and more
            mature than when you were 20. Look at Jay-Z, when he was 20, he was a young cat just flossin', showing off his shit like he owned the place. But by the time he got to 30, he had been there, done that, so he started to mature, focus
            on the craft, raking in the riches. Now that Jay-Z is in his 40s, he's one of the richest rappers out there, with a career more than just rapping. He went from being a businessman to a business, man. To me, that's what being 30
            is all about, and with that in mind, here's his song "30 Something."</p>
        <blockquote class="blockquote-reverse" style='border:none'>You young boys gotta chill, 30's the new twenty, n****, I'm so hot still
            <footer>Jay-Z</footer>
        </blockquote>
        <div class="col-lg-10 col-lg-offset-1">
                <img class="img-responsive" src="img/kingdom_come.jpg" alt="Kingdom Come" width="300" height="300">
        </div>
    </div>
</div>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBrpgMWBTZRs58bzHOzCfESQPsvI09zOuo&v=3&callback=initialize"></script>
<script src="js/intro.js"></script>
