{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h3>We Made It To The Grand Canyon!</h3>
        <p>What makes the Grand Canyon so Grand? It's not the deepest Canyon, nor the longest, nor the widest. So why do they consider it the Grand Canyon? It's because of the many visible layers of erosion that have occurred over millions of
            years. The first thing that stood out to me is that how an area that's so flat on its top could erode so beautifully and marvelously. Another thing that stood out is that it has many twists and turns, and at a length of 277 miles
            long, we hardly saw any of it. It's incredible how much of the Grand Canyon actually exists. Again, its not the longest nor deepest, but the colors make it truly unique.</p>
        <ul>
            <li>The Grand Canyon is 277 miles long.</li>
            <li>The Grand Canyon is 18 miles wide (at its largest width)</li>
            <li>The Grand Canyon has a depth of over 6,000 feet.</li>
            <li>The largest canyon in the world (by most measures) is the Yarlung Tsangpo Grand Canyon in Tibet, China, with a length of 314 miles, with depths reaching 19,000 feet.</li>
        </ul>
        <p>The first place we stopped at to view the Grand Canyon was Hopi Point. The Hopi are a Native American tribe in the area. They consider the Grand Canyon to be a holy place. Looking at all the viewpoints was amazing. Holding on the railings
            was even more necessary as looking down in the Canyon would make one want to run away as far as one can. Especially being a Male in the 25-35 age range; the leading category of people who die in the Grand Canyon. I was exactly
            halfway in the range. Did I need a leash? No, like the mules that travel into the Grand Canyon with people riding them, they will instinctively avoid danger. Let the reckless people be more reckless, I'm no longer in my 20s. It
            was also here that I saw the first of many elk in the Grand Canyon. Not as big as the one Elk I saw at Yellowstone, but still impressive.</p>
        <p>The next stop was Mohave Point, another grand point of the Grand Canyon. Just seeing the Colorado River so far down look like a small sliver compared to the enormous size of the Grand Canyon puts everything in perspective. Imagine
            being down at the Colorado River looking up at the Grand Canyon. Now that would be an experience! Unfortunately, that's a two day trip in itself, so I'll happily stay at the top of the Grand Canyon.</p>
         <h3>Facts About the Colorado River</h3>
        <p>The Colorado River River is 1,450 miles, beginning in the Rocky Mountains in Colorado, and ending in the Gulf of California in Baja, Mexico.</p>
        <p>The Colorado River runs through Colorado, Utah, Arizona, Nevada, California, as well as Mexico states Baja and Sonora.</p>
        <p>It generally flows southwest, before hitting Lake Mead in Nevada and flowing south. It is the basis of Arizona's western border with Nevada and California</p>
        <p>Eleven National Parks (including the Grand Canyon) are found in the watershed of the Colorado River, including Arches, Bryce Canyon, Zion and Rocky Mountain National Parks, among others.</p>
    </div>
    <div class="col-lg-6">
         <h3>Grand Canyon National Park</h3>
        <p>Grand Canyon National Park covers 1,217,262 acres of land, stretch from the Nevada border to the Utah border.</p>
        <p>The North Rim also has places to visit, though it is less visited and more remote than the South Rim. Only one road, AZ 87 reaches the North Rim.</p>
        <p>Though the South Rim is just across the Grand Canyon from the North Rim, there is no direct crossing of the canyon. Therefore, it would take 4 hours to drive from the South Rim entrance to the North Rim entrance.</p>
        <p>The Grand Canyon Skywalk, owned by the Hualapai Tribe, sits on the western edge of the Grand Canyon, is 4 hours from Grand Canyon Village (but 2 hours from Las Vegas).</p>
        <p>To walk down and back up the Grand Canyon typically takes two days to complete. It is discouraged by the Park to attempt the trek in one day due to risk of heat exhaustion, distance, steep hills, among other things.</p>
        <p>Only two bridges cross the Grand Canyon, the Navajo Bridge near the border with Utah, and the Mike O'Callaghan-Pat Tillman Memorial Bridge, near the Hoover Dam</p>
         <h3>Hopi</h3>
        <p>The Hopi Tribe is one of the more famous tribes in the Grand Canyon Area, along with the Navajo. Their name is a shortened word meaning "Peaceful People". They consider the Grand Canyon to be a holy place (along with most of the land
            they live on). Today they live in Hopi Reservation, in Northeastern Arizona, surrounded by the much larger Navajo Nation.</p>
        <p>Hopi's are famous for their Pueblo homes and Kachina dolls, which came from the Ancestral Pueblo people from which they descended from. An example of the a pueblo is the Hopi House at the Grand Canyon National Park, originally built
            for Native American tribes to sell arts and crafts.</p>
        <p>As of 2012, there are 18,000 members of the Hopi Reservation, which was created in 1882 by President Chester A Arthur. They live to the east of the Grand Canyon. Despite being surrounded by the Navajo Reservation, the only part of
            Arizona to observe Daylight Savings Time, the Hopi Reservation, like the rest of Arizona, does not observe Daylight Savings Time.</p>
         <h3>Mohave</h3>
        <p>The Mohave (or Mojave) Tribe are indigenous to the Colorado River. They currently live on Fort Mojave Indian Reservation, living on the Colorado River, in Arizona, California and Nevada. They also maintain the Colorado River Indian
            Reservation, in California and Arizona, also along the Colorado River.</p>
        <p>There are about 2,000 members of the Tribe (as of 2007) living on the reservation, which unlike most Indian Reservations, has a significant non-Native American population, as they rent their land out to agricultural based companies.</p>
    </div>
</div>
<div class="row">
     <h3>Hopi and Mohave Points</h3>
    <div id="googleMap" style="width:100%;height:500px;"></div>
</div>
<div class="row">
     <h3>Hopi Point</h3>
    <img class="img-responsive" src="img/hopi2.jpg" alt="hopi">
     <h4>The first panorama I took of the Grand Canyon</h4>
</div>
<div class="row">
     <h3>Hopi Point</h3>
    <img class="img-responsive" src="img/hopi7.jpg" alt="hopi">
     <h4>Look at that beautiful view.  Thank god for that railing.</h4>
</div>
<div class="row">
     <h3>Hopi Point</h3>
    <img class="img-responsive" src="img/hopi12.jpg" alt="hopi">
     <h4>Somewhere in this picture is the number Seven.  I still can't find it.</h4>
</div>
<div class="row">
     <h3>Hopi Point</h3>
    <img class="img-responsive" src="img/hopi15.jpg" alt="hopi">
     <h4>Such an amazing sight to see.</h4>
</div>
<div class="row">
     <h3>Hopi Point</h3>
    <img class="img-responsive" src="img/hopi26.jpg" alt="hopi">
     <h4>The view gets better and better.</h4>
</div>
<div class="row">
     <h3>Mohave Point</h3>
    <img class="img-responsive" src="img/mohave2.jpg" alt="mohave">
     <h4>Another great place for panoramas.</h4>
</div>
<div class="row">
     <h3>Mohave Point</h3>
    <img class="img-responsive" src="img/mohave11.jpg" alt="mohave">
     <h4>More amazing views of the Grand Canyon</h4>
</div>
<div class="row">
     <h3>Mohave Point</h3>
    <img class="img-responsive" src="img/mohave18.jpg" alt="mohave">
     <h4>Can you believe how little of the Grand Canyon we actually saw?</h4>
</div>
      <script src="js/grand_canyon_hermit.js"></script>
