<div class="row">
    <div class="col-lg-6">
         <h2>So here's what happened on the Train</h2>
        <p>Here are some of the highlights (and lowlights) riding the Train to the Grand Canyon</p>
        <p>One thing that became a minor concern on the train was when Mike, the Train Guy, informed us that the toilets burp; therefore, we needed to keep the lid on when flushing. It also appeared that the bathroom nearest us was a dinky toilet,
            with a foldable sink. After passing the passerby's who love being waved at (making their day) and the Prairie Dog Village, where the Prairie Dog's roam, we were off to the Grand Canyon, with desert scenery and Ponderosa Pines that
            would make Bend, Oregon jealous with envy.</p>
        <div class="col-lg-6">
            <blockquote>Oh and Diet Coke
                <footer>Dad, after hearing all the menu options on the Train</footer>
            </blockquote>
        </div>
        <p>One thing that made the Bodie's giggle and laugh was a sign to a place called Pitt Tank Road. Unfortunately, Adam did not get the message, enjoying a nice soothing shit in the dinky toilet. By the time Adam realized this, it was too
            late. Fortunately, by taking the Train there, they had to take the Train back.</p>
        <p>Everyone on the train wished Adam a Happy 30th Birthday, even telling him personally afterwards. They thought his hat was quite clever</p>
        <p>The only person who seemed offended was Marshal Bill, who wanted me to get him a present. I told him "Where's my present?" He asked, "Should your birthday be all about you then?" which Adam replied "Hell Yeah!"</p>
        <p>Jenn, on the other hand, wanted to make sure everyone knew about a bruise she had recently gotten rid of after having it for a while: A long hot dog shaped purple bruise she got in Maryland that turned yellow before going away. Debbi
            told Jenn to be quiet and not to let everyone know about it. Jenn, unfazed, seemed to be interested in speaking loud and proud, which Adam remarked "Let's get her a microphone!" Finally, she was offered one by Mike the Train Guy.
            At that point, Jenn kept quiet.</p>
        <p>Perhaps the most shocking moment of them all didn't occur in the dome. Wanting to join her brother outside, Jenn looked at the tracks, heard the tracks make beautiful rhythm, and at that moment, decided to dance to the tracks. What
            Jenn didn't know what that the people inside were watching her the whole time, deeming Jenn's dancing excellent and eventful. Jenn left to go back to her seat, declaring "I'll be back for more later...” Jenn returned outside two
            more times, only dancing once more. After that, Jenn hung up the Train Dancing Shoes. After a two-hour train ride, it reached its destination, Grand Canyon National Park. It was majestic to see.</p>
         <h2>Music on the Train</h2>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/country_video.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/country_video.webm" type='video/webm'>
                        <source src="videos/country_video.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h2>Mom's turn to record</h2>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Train.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Train.webm" type='video/webm'>
                        <source src="videos/Train.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
         <h2>Some interesting facts at the Grand Canyon Railway</h2>
        <p>The whole route runs 64 miles, going from Williams, to the Grand Canyon</p>
        <p>It began in 1901, built by the Santa Fe Railway, who owned it until 1968, when trains became less popular than automobiles.</p>
        <p>The railway was eventually started up again after being purchased by Max and Thelma Biegert, a wealthy couple from Phoenix.</p>
        <p>They eventually sold it to its current owners, the Xanterra Parks & Resorts group, originally known as the Fred Harvey Company.</p>
        <p>Fred Harvey must be special, because that's the part of the train we were on!</p>
        <img class="center-block" src='img/railway-map.png' alt="railway" width="280px" height="514px">
         <h2>Here's Jenn's 15 seconds of Train Fame</h2>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_train_dancing.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_train_dancing.webm" type='video/webm'>
                        <source src="videos/jenn_train_dancing.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h2>More music</h2>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Train2.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Train2.webm" type='video/webm'>
                        <source src="videos/Train2.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
</div>
