{{carousel-list items=model}}
<div class="row">
    <div class="col-lg-6">
         <h2>Descending into the Grand Canyon</h2>
         <h2><small>by Adam Bodie</small></h2>
        <br>
        <br>
        <p>The following morning, I woke up to another beautiful day. Fortunately, we had an easier time getting up and taking our time since we didn't have to be anywhere early in the morning. With that set in stone, I took the opportunity to
            explore the area around the hotel. The results were shocking...</p>
        <p>What I didn't realize was that I was just a hop, skip and jump away from the Grand Canyon itself. With that, I knew I had to explore. The area I was closest to: the Bright Angel Trail with the tunnel. I had to go down. This was my
            only shot. It was either now or never. And I did go down. What I found inside the Grand Canyon was amazing even by my standards. The glow inside was breathtaking. At one point, I could see a white twinkle inside the canyon. I could
            only see it there for a minute or two. What it was, I don't know, but I got a picture of it. How amazing! Makes like seem so insignificant.</p>
         <h2>Lipoflavonoid: What the heck is it?</h2>
         <h2><small>by Jennifer Bodie</small></h2>
        <br>
        <br>
        <p>What is a lipoflavonoid you ask? It's a proprietary, over-the-counter, dietary supplement formula. Its purpose: To help improve circulation in the inner ear. What is the main thing it helps? Tinnitus, otherwise known as ringing in
            the ears.</p>
        <p>But does it really stop tinnitus? Depends on who you ask. While the makers of lipoflavonoid say it does, the FDA does not approve lipoflavonoid expressly for this use. Though the FDA has no issue with its use; as it complies with FDA
            regulations, it does not have enough proof that lipoflavonoid is useful for stopping tinnitus. For example, studies at the Mayo Clinic found little evidence that it actually stops tinnitus, but lists it as an alternative therapy
            for tinnitus.</p>
        <p>It's mainly made of eriodictyol glycoside, a bioflavonoid found naturally in lemon peels, along with multiple vitamins, including Vitamin B6 and B12, Vitamin C, Niacin, Riboflavin, Thiamine, Choline, Inositol and Pantothenic Acid.</p>
        <p>So remember kiddies, if you have tinnitus and want to get rid of the ringing in the ear (or at least lessen it), try Lipoflavonoid!</p>
    </div>
    <div class="col-lg-6">
         <h3>Grand Canyon Formation</h3>
        <p>According to estimates, the Grand Canyon started developing 17 million years ago, when the Colorado Plateau started a long period of erosion that still occurs today</p>
        <p>There are 19 distinct physiographic sections of the Grand Canyon, mainly from the Paleozoic and Proterozoic strata. These distinct sections are shown in the differing colors of the Grand Canyon.</p>
        <p>The weather at the Grand Canyon varies depending on location. The South Rim, for example, gets considerably less snow than the North Rim. The Inner Gorge of the Grand Canyon is much warmer than the rims, with temperatures comparable
            to the deserts of Phoenix and Tucson. Monsoons are an occurring event in the Grand Canyon in late summer.</p>
        <img class="center-block img-responsive" src="img/Stratigraphy_of_the_Grand_Canyon.png" alt="rocks" width='400px'>
    </div>
</div>
<div class="row">
     <h3>Bright Angel Trail</h3>
    <img class="img-responsive" src="img/bright7.jpg" alt="bright">
     <h4>An incredible panorama, like all of them</h4>
</div>
<div class="row">
     <h3>Bright Angel Trail</h3>
    <img class="img-responsive" src="img/bright11.jpg" alt="bright">
     <h4>Feels even better to be inside the Grand Canyon to get perspective</h4>
</div>
