<div class="row">
    <div class="col-lg-6">
        <p>The train ride back was just what we needed. With no one in front of us, we had the area to ourselves. I put my feet up on the seat in front of me and relaxed, listening to the music on my iPhone. Even better, I took advantage of the
            plug-ins they had on the train (behind my seat) to charge up my phone and iPad. I even got to work a little on this project. Being tired and needing some rest, it was perfect timing and had the perfect setting to get much needed
            downtime.</p>
        <div class="col-lg-6">
            <blockquote>
                <p>What is municipal drinking water?
                    <footer>Jenn</footer>
                </p>
                <p>That means it fuckin' tap water.
                    <footer>Dad</footer>
                </p>
            </blockquote>
        </div>
        <p>Of course, instead of Mike the Train Guy, we had Thelma & Louise. They were kind of obnoxious, especially Tennessee Tina. I didn't really want to pay attention to those two (especially when they were repeating facts the other had stated
            earlier). Thankfully, the weather was much nicer and the views of the mountains were more enjoyable to see. For the first time, I could fully see Humphreys Peak, the tallest mountain of Arizona. It was pretty to see, especially
            with all the snow on it. Kind of like Mt. Hood back home, but actually taller (it didn't look taller, but then again, there's a bigger elevation difference in Oregon than in Arizona). We had a nice champagne toast, even Jenn had
            5 sips, which was enough for her. Then something quite bizarre happened.</p>
        <p>The train robbers showed up wanting the rob the train. Of course, being on the only train that would stop for a robbery, we had to endure the painfully bad robbers walk their way to our boxcar and not take Jenn's champagne, or our
            trail-mix. They complained about getting their picture taken, even though I was actually recording them on video. Takes one to know one. Even worse, Marshal Bill, who still owes me a birthday present, accused Jenn of being in cahoots
            with the bank robbers. Bill asked Jenn "Did you drink too much?" Jenn replied "I only had 5 sips." Bill responded "Well isn't that convenient!" Mom told Bill that Jenn was, but at the end of the day, I was in cahoots with the bank
            robbers, lol.</p>
        <div class='col-lg-6'>
            <blockquote>Boogers, we grow them ourselves
                <footer>A random quote from Jenn</footer>
            </blockquote>
        </div>
        <p>As we got closer to Williams, Dad and Jenn made sure I took a picture of Pitt Tank Road, which I didn't see the way there. Thankfully, this time it would not be ignored. Pitt Tank. What is a Pitt Tank? That is a good question. More
            on this later...</p>
        <div class="col-lg-6">
            <blockquote>Good morning Sunshine, how was your nap?
                <footer>Marshal Bill, to another passenger</footer>
            </blockquote>
        </div>
        <p>Eventually, we got back to Williams and the Grand Canyon Railway Hotel. We got rooms next to our original rooms, but still adjoining to each other so it was convenient. Now was the time to take it easy. Three rooms in three nights,
            how do you pull that one off? We had dinner at the buffet (again) and took it easy for the evening. The most amusing thing about dinner was the salt shakers, which poured heavily. Not one, but all the salt shakers we came across
            at the Buffet would pour like it was pouring down rain. At one point, Jenn asked me "Do you have a tummy ache?" I first said. "Yes" (not paying attention), but after Mom asked "Really?" I said "No." Once dinner was done, we retired
            for the evening. One more night of sleep and then we stop sleeping in other beds and get back to our own comfy beds. No hard pillows, no soft pillows, and most of all, no snoring! We were almost ready to head back home.</p>

    </div>
    <div class="col-lg-6">
         <h3>Here comes the Robbers!</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/robbers.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/robbers.webm" type='video/webm'>
                        <source src="videos/robbers.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>The highlight of their day!</h3>
        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/jenn_waving.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/jenn_waving.webm" type='video/webm'>
                        <source src="videos/jenn_waving.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
         <h3>Why Are Donkey's not allow to sleep in Bathtubs in Arizona?</h3>
        <div class='col-lg-6'>
            <img class='img-responsive' src='img/donkey.jpg' width='400px'>
        </div>
        <p>Arizona, oh Arizona. We know states have crazy laws, but this one is particularly crazy. It turns out that it is illegal in the state for a Donkey to sleep in a Bathtub. The big question is why?</p>
        <p>According to answers.yahoo.com, this is the best explanation: It's based on a 1924 case where a merchant's donkey started sleeping in an old bathtub that was supposed to be filled with his drinking water. When the local damn broke
            a flood ensued and the donkey was washed away in the tub. The tub and donkey survived the trip down the valley for a mile until the water receded. The law was passed because several of the townspeople signed a petition against
            such a thing after they had to wrangle the donkey and haul the merchant's *** back to his house.</p>
        <p>So remember kids, when in Arizona, and you have a Donkey in your house (or any type of home), please remember: Keep them out of your bathtub or you'll be BREAKING THE LAW!</p>
    </div>
</div>
<div class='row'>
     <h3>Relaxing on the Train</h3>
    <img class="img-responsive" src="img/relaxing.jpg" alt="relaxing">
     <h4>Nothing beats kicking back and relaxing on the Train</h4>
</div>
