{{carousel-list items=model}}

<div class="row">
    <div class="col-lg-6">
         <h2>Behavior in the Airport</h2>
         <h2><small>by Bokshoi Sashimi</small></h2>
        <br>
        <br>
        <p>This just in...people at the airport behave in odd and mysterious ways. Imagine going to the airport, with a bunch of people traveling to and from. Most people will behave normally, but once in a while you'll come across someone whose
            behavior is shocking and creepy. What might surprise you is how common this occurs. Our investigator here at ABNN, Bokshoi Sashimi, waited for a flight from Phoenix to Flagstaff, Arizona to secretly observe people in the airport.
            The results of this study were not only shocking, but revolting. We here at ABNN expected odd behavior: running through the airport to get to the terminal, scratching your butts, picking your nose. But what Bokshoi Sashimi found
            at this particular stop was so mind-blowing that it made us at ABNN quite stunned: People tweezing their eyebrows at the Airport!</p>
        <div class='col-lg-6'>
            <blockquote>A woman is tweezing eyebrows in the airport
                <footer>Jenn's observation at the Phoenix Airport</footer>
            </blockquote>
        </div>
        <p>How did we find this out? Bokshoi was casually looking for any odd behaviors at the terminal when a passenger, Jenn Bodie, approached her with some shocking details. "Look over there, there's a woman tweezing her eyebrows at the airport"
            Jenn Bodie told the reporter. Bokshoi was shocked. How could this happen inside a busy airport terminal? While this may be extremely shocking, upon further analysis of airport behavior, we found this statistic to be startling:
            Many people who come to the airport are in a hurry and think they would be better off showing off their makeup procedures in public than waking up 15-30 minutes earlier to do it at home when it's most appropriate. Harvard University
            did a study on this and found that 60% of all airport passengers are either in a hurry or sleep-deprived. Shocking statistics to say the least.</p>
        <p>Bokshoi Sashimi did some further studying and made another fascinating discovery: People eat more unhealthy than usual at the airport. We don't know whether its because of a lack of choices or a lack of planning, but people are so
            unealthy eating that they would have french fries with ice cream. Even more shocking was that the passenger, Jenn Bodie, the same person who pointed out the Eyebrow Tweezer, was the person guilty of eating french fried and ice
            cream. We were amazed.</p>
        <p>Remember, be careful at the airport, you don't know what wacky behaviors you will come across at the airport, whether it's people who don't wash their hands in a very public place, or those who tweeze their eyebrows. Beware....</p>

        <div class="header-unit">
            <div id="video-container">
                <video controls class="fillWidth">
                    <source src="videos/Jenn Country.ogv" type='video/ogg; codecs="theora, vorbis"' />
                    <source src="videos/Jenn Country.webm" type='video/webm'>
                        <source src="videos/Jenn Country.mp4" type='video/mp4'>
                            <p>Video is not visible, most likely your browser does not support HTML5 video</p>
                </video>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
         <h2>How the Weather in Northern Arizona became so cold on May 9th: The Expose</h2>
         <h2><small>by Erin Joan Stevens</small></h2>
        <br>
        <br>
        <p>Normally, the weather in May in Arizona is quite warm, especially in Phoenix, where it's really hot. Northern Arizona, not as hot, still enjoys warm temperatures. But on May 9th, it was so cold that it had snowed early in the morning.
            Not lost upon this was that Portland, Oregon, the second most rainy city in the United States (after Seattle) was going through a hot spell of 80 degree weather. How did this happen, let's take a look at the events that caused
            this massive weather shift</p>
        <div class='col-lg-6'>
            <blockquote>He (Uncle Mike) needs to go to a home.
                <footer>Dad, when asked whether Grandma needs to be in a nursing home</footer>
            </blockquote>
        </div>
        <p>it all started on May 9th, 2015, when one family, the Bodie family, made a trip to visit the Grand Canyon to celebrate the son Adam's 30th birthday. This might seem normal, but one event started a chain reaction of super cold weather
            in the hottest of states: Arizona. That event, a casual recalling of Grandma Beverly Bodie, and whether she belonged in the nursing home or if she should stay in her house. While Jennifer Bodie, the main messenger for her Grandma,
            mentioned that her Uncle Mike believes she belongs in a nursing home; Steve Bodie, Bev's other son and Jenn's Dad, had a better suggestion. "He should be in a home," Steve said of his brother Mike, believing him to be a better
            candidate than their mom. LIttle did Steve know that this would start a chain reaction changing the weather drastically in Northern Arizona.</p>
        <p>Because of this event, Jenn, the wild and crazy member of the Bodie family, asked me on the airplane, what direction the compass would point her in. The answer seemed obvious, however, nothing is as they seemed. Instead of a typical
            response, Adam told her "You're a booger picker!"</p>
        <div class="col-lg-6">
            <blockquote>You're a booger picker!
                <footer>Adam, when asked by Jenn what direction the compass on his iPhone gave her</footer>
            </blockquote>
        </div>
        <p>That quote it seems lead Steve Bodie to reminisce about the past. On the descent to Phoenix, Steve, looking at the rocks, noted "They got pieces of rock here," a quote made famous by Jenn years earlier. With these moments in place,
            the weather started to become different.</p>
        <div class="col-lg-6">
            <blockquote>They got pieces of rock here
                <footer>Steve Bodie, descending into the Phoenix Airport</footer>
            </blockquote>
        </div>
        <p>Phoenix, a normally super-hot city, became a mere 73 degrees, colder than much further north Portland. Zits started growing unpredictably and randomly, as Adam asked Jenn what else was new, all Jenn could say was "A zit on my ass".
            Even worse, airplanes started to shrink with no passengers on the plane. By the time the Bodie's arrived in Flagstaff, one thing was clear: Steve Bodie was the only person in Flagstaff with shorts. Stunning in 45 degree weather,
            a little snow in the morning, and a light drizzle not commonly seen in Arizona.</p>
        <div class="col-lg-6">
            <blockquote>I'm the only one in shorts in Flagstaff
                <footer>Dad</footer>
            </blockquote>
        </div>
        <p>It was thanks to these bizarre yet surprisingly linked events that the weather got so cold on May 9th, 2015. Fortunately, these events did not have in succession again on the trip; and the weather went back to normal: Sunny with a
            high in the upper 60s and lows in the 30s.</p>
    </div>
</div>
